.static .status, .dynamic .status {
	display: block;
	overflow: hidden;
	margin: 6px 0;
	padding: 6px;
	font-family: monospace;
	font-size: 14px;
	line-height: 14px;
	background-color: lightyellow;
}

.static .block-outer, .dynamic .block-outer {
	padding: 60px;
	margin-bottom: 30px;
}

.static .block-inner, .dynamic .block-inner {
	padding: 30px;
	text-align: center;
	color: white;
}

.static .block-outer {
	background-color: lightgreen;
}

.static .block-inner {
	background-color: darkgreen;
}

.dynamic .block-outer {
	background-color: lightblue;
}

.dynamic .block-inner {
	background-color: darkblue;
}
